<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/assets/auth/styles.css">
</head>
<body>
  <form class="form" id="form">
    <div class="form-row">
      <input type="email" name="email" class="form-input input-email">
    </div>
    <div class="form-row">
      <input type="password" name="password" class="form-input input-password">
    </div>
    <div class="form-row">
      <input type="submit" class="form-input input-submit">
    </div>
  </form>

  <script src="/assets/auth/index.js"></script>
</body>
</html>