<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link rel="stylesheet" href="/assets/user/styles.css">
</head>
<body>

  <h1 class="title">Last login date: {{ lastEnter }}</h1>
  <h1 class="title">Email: {{ user.email }}</h1>
  <h1 class="title">Name: {{ user.firstName }}</h1>
  
  <script src="/assets/user/index.js"></script>
</body>
</html>